@model List<Aden.Web.ViewModels.ReportViewDto>
@{
    ViewBag.Title = "Files";
    int count = 0;
    int mostRecentVersion = 1;
}

<style>
    .panel-title .trigger:before {
        font-family: FontAwesome;
        content: "\f095";
        vertical-align: text-bottom;
        font-weight: 900;
    }

    .panel-title .trigger.collapsed:before {
        font-family: FontAwesome;
        content: "\f095";
        vertical-align: text-bottom;
        font-weight: 900;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panel-title"> Files</span>
                    <span class="panel-subtitle">Eden report generation and submission results</span>
                </div>

                <div class="panel-body">

                    @foreach (var report in Model)
                    {
                        count += 1;
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="alert alert-@report.PanelClass">
                                    @report.DisplayFileName - @report.PanelClass
                                    @if (count == 1 && Model.Count > 1)
                                    {
                                        <span>(Reopened Submission)</span>
                                    }
                                </h3>

                                <hr />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <dl>
                                    <dt>Data Year</dt>
                                    <dd>@report.DisplayDataYear</dd>

                                    <dt>Status</dt>
                                    <dd>@report.ReportStateDisplay</dd>

                                    <dt>Generated</dt>
                                    <dd>
                                        @report.GeneratedDate
                                        @if (!report.GeneratedDate.HasValue)
                                        {
                                            <text>Not yet generated</text>
                                        }
                                    </dd>

                                    <dt>Approved</dt>
                                    <dd>
                                        @report.ApprovedDate
                                        @if (!report.ApprovedDate.HasValue)
                                        {
                                            <text>Not yet approved</text>
                                        }
                                    </dd>

                                    <dt>Submitted</dt>
                                    <dd>

                                        @report.SubmittedDate
                                        @if (!report.SubmittedDate.HasValue)
                                        {
                                            <text>Not yet submitted</text>
                                        }
                                    </dd>

                                </dl>

                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="panel-title">
                                            Current File Revision
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-responsive">

                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Version</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    mostRecentVersion = report.Documents.OrderByDescending(d => d.Version).FirstOrDefault().Version;
                                                }
                                                @foreach (var doc in report.Documents.Where(d => d.Version == mostRecentVersion).OrderByDescending(d => d.Version))
                                                {
                                                    <tr>
                                                        <td>
                                                            @if (doc.FileSizeMb > 0)
                                                            {
                                                                <a href="#" class="btn btn-sm btn-default"
                                                                   data-document-viewer
                                                                   data-doc-id=@doc.Id
                                                                   data-url="/document/@doc.Id"
                                                                   data-title="File must be downloaded"
                                                                   title="File must be downloaded"
                                                                   data-placement="right"
                                                                   data-toggle="tooltip"
                                                                   data-original-title="@doc.Filename" aria-disabled="True">View</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="#" class="btn btn-sm btn-default"
                                                                   data-document-viewer
                                                                   data-doc-id=@doc.Id
                                                                   data-url="/document/@doc.Id"
                                                                   data-title="@doc.Filename"
                                                                   title="@doc.Filename"
                                                                   data-placement="right"
                                                                   data-original-title="@doc.Filename">View</a>
                                                            }
                                                            <a href="/download/@doc.Id" class="btn btn-sm btn-default" download>Download</a>
                                                            <span>
                                                                @doc.Filename<span> - </span><span class="small">(@doc.FileSizeInMb)</span>
                                                            </span>
                                                        </td>
                                                        <td>@doc.Version</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6 col-md-offset-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="panel-title">
                                            <a data-toggle="collapse" data-parent="#faq" href="#fileHistory" aria-expanded="false" aria-controls="fileHistory">
                                                Revision History
                                            </a>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-collapse collapse" id="fileHistory" role="tabpanel" aria-labelledby="fileHistory">
                                        @{
                                            if (report.Documents.Any(d => d.Version < mostRecentVersion))
                                            {
                                                <table class="table table-responsive">

                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Version</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var doc in report.Documents.Where(d => d.Version < mostRecentVersion).OrderByDescending(d => d.Version))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @if (doc.FileSizeMb > 0)
                                                                    {
                                                                        <a href="#" class="btn btn-sm btn-default"
                                                                           data-document-viewer
                                                                           data-doc-id=@doc.Id
                                                                           data-url="/document/@doc.Id"
                                                                           data-title="@doc.Filename"
                                                                           title="@doc.Filename"
                                                                           data-placement="right"
                                                                           data-original-title="@doc.Filename" aria-disabled="True">View</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#" class="btn btn-sm btn-default"
                                                                           data-document-viewer
                                                                           data-doc-id=@doc.Id
                                                                           data-url="/document/@doc.Id"
                                                                           data-title="@doc.Filename"
                                                                           title="@doc.Filename"
                                                                           data-placement="right"
                                                                           data-original-title="@doc.Filename">View</a>
                                                                    }
                                                                    <a href="/download/@doc.Id" class="btn btn-sm btn-default" download>Download</a>
                                                                    <span>
                                                                        @doc.Filename<span> - </span><span class="small">(@doc.FileSizeInMb)</span>
                                                                    </span>
                                                                </td>
                                                                <td>@doc.Version</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <h5>No earlier revisions</h5>
                                            }
                                        }

                                    </div>
                                </div>


                            </div>

                        </div>

                    }

                </div>

            </div>
        </div>
    </div>
</section>
