@model List<ReportViewDto>
@{
    ViewBag.Title = "Files";
    int count = 0; 
}

<style>
    .panel-title .trigger:before {
        font-family: FontAwesome;
        content: "\f095";
        vertical-align: text-bottom;
        font-weight: 900;
    }

    .panel-title .trigger.collapsed:before {
        font-family: FontAwesome;
        content: "\f095";
        vertical-align: text-bottom;
        font-weight: 900;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panel-title">Files</span>
                    <span class="panel-subtitle">Eden report generation and submission results</span>
                </div>

                <div class="panel-body">
                    @foreach (var report in Model.OrderByDescending(x => x.Id))
                    {
                        count += 1;


                        <div class="panel panel-@report.PanelClass">
                            <div class="panel-heading">
                                <span class="panel-title">@report.DisplayFileName</span>
                                <span class="panel-subtitle">
                                    @if (Model.Count > 1 & count == 1)
                                    {
                                        <span>- Reopened current version</span>
                                    }
                                </span>
                                
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <dl>
                                            <dt>Data Year</dt>
                                            <dd>@report.DisplayDataYear</dd>

                                            <dt>Submission Due Date</dt>
                                            <dd>@report.SubmissionDueDate.ToString("M/dd/yyyy")</dd>
                                            <dt>Status</dt>
                                            <dd>@report.ReportStateDisplay</dd>

                                            <dt>Generated</dt>
                                            <dd>
                                                @report.GeneratedDate
                                                @if (!report.GeneratedDate.HasValue)
                                                {
                                                    <text>Not yet generated</text>
                                                }
                                            </dd>

                                            <dt>Approved</dt>
                                            <dd>
                                                @report.ApprovedDate
                                                @if (!report.ApprovedDate.HasValue)
                                                {
                                                    <text>Not yet approved</text>
                                                }
                                            </dd>

                                            <dt>Submitted</dt>
                                            <dd>

                                                @report.SubmittedDate
                                                @if (!report.SubmittedDate.HasValue)
                                                {
                                                    <text>Not yet submitted</text>
                                                }
                                            </dd>

                                        </dl>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    Current File Revision
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                @Html.Partial("_ReportDocuments", report.Documents)
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#faq" href="#fileHistory" aria-expanded="false" aria-controls="fileHistory">
                                                        Revision History
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-collapse collapse" id="fileHistory" role="tabpanel" aria-labelledby="fileHistory">
                                                @Html.Partial("_ReportDocuments", report.Documents.Where(d => d.Version < report.CurrentDocumentVersion).ToList())
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    }

                </div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/app/review.module.min.js"></script>
}