<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aden</title>

    <!-- Vendor styles -->
    <link href="~/css/vendor-bundle.min.css" rel="stylesheet" />

    <!-- DevExtreme themes -->
    <link href="~/css/dx-bundle.min.css" rel="stylesheet" />

    <link href="~/css/site-bundle.min.css" rel="stylesheet" />

    <style>
    </style>
</head>
<body>

    @Html.Partial("_StatusHeader")
    @Html.Partial("_Header")
    @Html.Partial("_NavBar")

    <div class="container-fluid" id="content">
        <div class="page" id="page">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")

    <!-- Vendor library -->
    <script src="~/js/vendor-bundle.min.js"></script>


    <!-- DevExtreme library -->
    <script src="~/js/dx-bundle.min.js"></script>

    <!-- Application globals library -->
    <script src="~/js/app/app.module.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
