@model List<DocumentViewDto>
@{
    int mostRecentVersion = 1;
}
<table class="table table-responsive">

    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {

            mostRecentVersion = Model.OrderByDescending(d => d.Version).FirstOrDefault().Version;


            foreach (var doc in Model.Where(d => d.Version == mostRecentVersion).OrderByDescending(d => d.Version))
            {
                <tr>
                    <td>
                        @if (doc.FileSizeMb > 0)
                        {
                            <a href="#" class="btn btn-sm btn-default"
                               data-document-viewer
                               data-doc-id=@doc.Id
                               data-url="/document/@doc.Id"
                               data-title="File must be downloaded"
                               title="File must be downloaded"
                               data-placement="right"
                               data-toggle="tooltip"
                               data-original-title="@doc.Filename" disabled aria-disabled="True">View</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-sm btn-default"
                               data-document-viewer
                               data-doc-id=@doc.Id
                               data-url="/document/@doc.Id"
                               data-title="@doc.Filename"
                               title="@doc.Filename"
                               data-placement="right"
                               data-original-title="@doc.Filename">View</a>
                        }
                        <a href="/download/@doc.Id" class="btn btn-sm btn-default" download>Download</a>
                        <span>
                            @doc.Filename<span> - </span><span class="small">(@doc.FileSizeInMb)</span>
                        </span>
                    </td>
                    <td>@doc.Version</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    No documents generated
                </td>
            </tr>
        }
    </tbody>
</table>