@using Aden.Web
<header>


    <nav class="navbar navbar-inverse status-bar @Html.RenderStatusBarColor()">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-status" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-status">
                <ul class="nav navbar-nav">
                    <li>
                        <a><i class="fa fa-calendar"></i> @DateTime.Now.ToString("ddd, dd MMM yyy")</a>
                    </li>
                    <li>
                        <a><i class="fa fa-clock-o"></i> @DateTime.Now.ToString("h:mm tt")</a>
                    </li>
                    <li>
                        <a>
                            @if (Constants.Environment != "Production")
                            {
                                <i class="fa fa-globe"></i>
                                @Html.RenderConfigurationValue("ASPNET_ENV")
                                @("(" + Html.RenderMachineName() + ") ")
                                @Html.RenderApplicationName()
                            }
                        </a>
                    </li>
                    <li>
                        <a>
                            @if (Constants.Environment != "Production")
                            {
                                <i class="fa fa-database"></i>
                                @Html.RenderConfigurationValue("ASPNET_ENV") @("(" + Html.RenderDataSource() + ") ") @(Html.RenderDataName())
                            }
                        </a>
                    </li>
                </ul>
                @Html.UserNavBarMenuList("right", "AppUserGroupName", "AdminGroupName")

                @*<ul class="nav navbar-nav pull-right bg-orange">
                    <li><a href='http://devaim/ApplicationInventory.aspx'><i class='fa fa-home'></i> My Applications</a></li>
                    <li class="dropdown">
                        <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><i class='fa fa-user'></i>&nbsp;Mark Lawrence<span class="caret"></span></a>

                        <ul class='dropdown-menu'>
                            <li><a href="devaim/ApplicationInventory.aspx"><i class='fa fa-home'></i> My Applications</a></li>
                            <li><a href='devaim/UserProfile.aspx'><i class='fa fa-book'></i> User Profile</a></li>
                        </ul>

                    </li>
                </ul>*@

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
